.home-about
  .row
    %h2.small-12-medium-6.columns
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.
    .small-12.medium-6.columns
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Nam placerat erat nec ante tempor, vel placerat neque interdum. Aliquam erat volutpat. Nullam egestas consectetur orci non malesuada.
      .buttons
        %a.button.dark-grey{href: "#"}
          I'm a
          %span job seeker
        %a.button.yellow{href: "#"}
          I'm 
          %span hiring

    .small-12.medium-6.columns
      = image_tag "indigo-home-image.jpg"
