= image_tag "about-bg.jpg", :class => "bg-image"

.about-header
  %h1
    We bring
    %br
    %span.bold talented people
    %br
    and
    %br
    %span.bold great employers
    %br
    together.

