.about-content
  .row
    .medium-4.small-12.columns
      %h3 Let's get to work
      %p
        You're looking for work so we're looking for work - and we'll do everything we can to help you find a suitable placement.
      %p
        We're not talking any old job. Or this will do. Or fine for now. We're talking a job that actually makes you smile.
      %p
        Your career matters. We want to see it soar.
    .medium-4.small-12.columns
      %h3 Grow your business the right way
      %p
        We've a huge pool of talent. Skilled, qualified and motivated. Not to mention legally compliant.
      %p
        We take care of everything - salaries, contracts and grievances (should they arise). In short, we will manage your workforce leaving your time free to run your business.
      %p
        So whether you're looking for temporary, seasonal or full-time staff, we're your guys.
    .medium-4.small-12.columns
      %h3 Stay compliant every time
      %p
        We pay properly through the PAYE system - no umbrella companies or Personal Service Companies in sight.
      %p
        We provide pay slips - with correct tax, NI and pension contributions
      %p
        We meet all the latest HMRC legislation and employment laws – it's our business to stay on top of them all.

