.home-about
  .row
    %h2.medium-6.columns
      So that's why we only work with the most talented, the most motivated and those who are eager to learn.
    .medium-6.columns
      %p
        Like Matthew. Brick layer like no other. A self-starter who lives to learn and loves to build (and cycling to places off the beaten track). Or Nina, Microsoft certified IT technician. Troubleshooter, problem-solver, all round IT whizz (who happens to play a mean guitar).
      .buttons
        %a.button.dark-grey{href: "#"}
          %span Hiring?
          Find your next star employee
        %a.button.yellow{href: "#"}
          %span Hunting?
          Find your next opportunity
          
