.home-about
  .row
    %h2.medium-12.small-centered.columns
      You're only as successful as the <span class="yellow-text">people</span> around you. That's why we only <span class="yellow-text">work</span> with the <span class="yellow-text">most talented</span>, the <span class="yellow-text">most motivated</span> and those who are eager to <span class="yellow-text">learn</span>.
    .medium-6.columns
      %p
        Like Matthew. Brick layer like no other. A self-starter who lives to learn and loves to build (and cycling to places off the beaten track). Or Nina, Microsoft certified IT technician. Troubleshooter, problem-solver, all round IT whizz (who happens to play a mean guitar).
      .buttons
        = link_to get_in_touch_path, class: 'button dark-grey' do
          Hiring?
          %span Find your next star employee
        = link_to get_in_touch_path, class: 'button yellow' do
          Hunting?
          %span find your next opportunity
    .medium-6.columns
      = image_tag "construction-workers.jpg"
          
