.home-about
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Nam placerat erat nec ante tempor, vel placerat neque interdum. Aliquam erat volutpat. Nullam egestas consectetur orci non malesuada. Maecenas vulputate ante ligula, a tempor libero finibus bibendum. Integer tincidunt posuere turpis quis malesuada. Vestibulum suscipit pellentesque mi sit amet dictum.
