= image_tag "about-bg.jpg", :class => "bg-image"

.about-header
  .row
    .medium-4.columns
      %h1
        Who we are
    .medium-7.columns
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.

