= image_tag "about-bg.jpg", :class => "bg-image"

.about-header
  %h1
    Work is not just about
    %br
    %span.bold paying bills; 
    %br
    work is a big part of
    %br
    %span.bold life's adventure.
