= image_tag "about-bg.jpg", :class => "bg-image"

.about-header
  .row
    .medium-9.small-centered.columns
      %h1
        Work is not just about paying bills; work is a big part of life's adventure.
