.banner2
  .video-overlay
  #video-wrap2
    = video_tag "banner-video.mp4", :autoplay => true, :loop => true, :id => "banner", :preload => "metadata"
  .slogan
    %h1
      Behind every great business are great people
  %i.material-icons.arrow-down keyboard_arrow_down

