.home-about
  .row
    .medium-4.small-12.columns
      %h2 Header 2
    .medium-8.small-12.columns
      %p.blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque viverra nibh eget consequat. Duis ullamcorper vestibulum enim eget maximus. Vestibulum ut velit feugiat, pharetra nisi vitae, dapibus tellus. Proin euismod dui tempus mi ultrices, ac scelerisque libero tincidunt.
  .row
    .medium-4.small-12.columns
      %h3 Header 3
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque viverra nibh eget consequat. Duis ullamcorper vestibulum enim eget maximus. Vestibulum ut velit feugiat, pharetra nisi vitae, dapibus tellus. Proin euismod dui tempus mi ultrices, ac scelerisque libero tincidunt. Sed pharetra leo id lobortis porttitor. Vestibulum tincidunt nisi vitae ante pharetra, a maximus ante sollicitudin.
    .medium-4.small-12.columns
      %h3 Header 3
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque viverra nibh eget consequat. Duis ullamcorper vestibulum enim eget maximus. Vestibulum ut velit feugiat, pharetra nisi vitae, dapibus tellus. Proin euismod dui tempus mi ultrices, ac scelerisque libero tincidunt. Sed pharetra leo id lobortis porttitor. Vestibulum tincidunt nisi vitae ante pharetra, a maximus ante sollicitudin.
    .medium-4.small-12.columns
      %h3 Header 3
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque viverra nibh eget consequat. Duis ullamcorper vestibulum enim eget maximus. Vestibulum ut velit feugiat, pharetra nisi vitae, dapibus tellus. Proin euismod dui tempus mi ultrices, ac scelerisque libero tincidunt. Sed pharetra leo id lobortis porttitor. Vestibulum tincidunt nisi vitae ante pharetra, a maximus ante sollicitudin.


