.about-content
  .row
    .medium-7.columns
      %h3
        Maybe your organisation tried 
        %span.yellow-text hiring
        through a
        %span.yellow-text recruiter
        in the past...but it was a
        %span.yellow-text bust
        %span .

      %p
        Maybe you’re just starting out on a new business adventure...and want to make sure it booms. 
      %p
        Maybe you've run yourself ragged running to keep-up with your start-up, and need an extra pair of hands, or half a dozen, to take the edge off.
      %p
        Whatever the case may be, if you want to build your team, and surround yourself with pros -- without mucking about -- then welcome. We've been expecting you.
    .medium-5.columns
      = image_tag "man-building-a-house.jpg"
  .row.dark-bg
    .row
      .medium-7.columns
        %h3.highlight-first-letter
          Our main objective
        %p
          Flooding your organisation with talent, because behind every great business are great people. When an organisation like yours misses out on recruiting the best, well, it doesn't bear thinking about does it.
        %p
          We're not in the business of temporary fixes here. We're not into job-hopping, agency swapping or short term relationships. We're in this for keeps.
        %p
          We do recruitment right.
          %span.bold-italic Right?
        .blockquote
          %p
            We 
            %strong never
            recommend candidates, who we haven't interviewed ourselves.
          %p
            We 
            %strong never
            recommend candidates, who aren't entirely suitable or qualified
          %p
            We
            %strong never
            pay through Umbrella Companies, it's PAYE – and proper wage slips – all the way.
      .medium-5.columns
        = image_tag "metal-welding.jpg"
  .row
    .medium-7.columns
      %p
        At Indigo we're driven by raw obsession, with your story, our candidates' stories, and the story of your matchmade future. 
      %p
        You want to reach the top? You need great people around you. That’s precisely who we find -- every single day.
      %p So if you have a vacancy to fill, and don't want to spend time getting down and dirty with a brick of CVs, interviews, call-backs or any of the other specifics involved in recruiting, then do get in touch.
      %p
        We do all the legwork, so all you have to say is,
        %span.bold-italic "you're hired".
      %p
        Build a workforce of nature, without wasting time.
        = link_to 'Contact us to get started.', get_in_touch_path
    .medium-5.columns
      =image_tag "it-technician.jpg"
