.home-work
  .row
    .small-4.columns
      %h2
        Why Work With Us
    .small-8.columns
      .small-6.columns.who
        %h3
          We're not the cheapest
        .subheader
          But we are honest, straight-talking and open.
      .small-6.columns.who
        %h3
          We're not cattle farmers
        .subheader
          We match the right people to the right roles
      .small-6.columns.who
        %h3
          We're not into job-hopping
        .subheader
          It's just not our style
      .small-6.columns.who
        %h3
          We will learn your shoe size
        .subheader
          So your work days are the best days (isn't life too short for anything else?)

