.home-work
  .row
    .small-4.columns
      %h2
        Who We Work With
    .small-8.columns
      .small-6.columns.who
        %h3
          Header 3
        .subheader
          Subheader
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.
      .small-6.columns.who
        %h3
          Header 3
        .subheader
          Subheader
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.
      .small-6.columns.who
        %h3
          Header 3
        .subheader
          Subheader
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.
      .small-6.columns.who
        %h3
          Header 3
        .subheader
          Subheader
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et metus est. Lorem ipsum dolor sit amet.

