.home-work
  .row
    .small-4.columns
      %h2
        Who We Work With
    .small-8.columns
      .small-6.columns
        %h3
          Info
      .small-6.columns
        %h3
          Info
      .small-6.columns
        %h3
          Info
      .small-6.columns
        %h3
          Info
      
