<br/>
<br/>
<p>
We are available by phone, email, skype and online via facebook or linkedin to answer all your questions and (bonus) we are even happy to.
</p>
<p>
  If you'd like to contact us via the website please complete the enquiry form below.
</p>

<div class="contact-section" id="contact">
  <div class="row">
    <div class="small-12 medium-9 small-centered columns">
      <h4>sign up if you'd like to find out more</h4>

      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#working" aria-selected="true">I'm looking for work</a></li>
        <li class="tabs-title"><a href="#hiring">I'm looking to hire</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="working">
          <%= render partial: 'working_form' %>
        </div>
        <div class="tabs-panel" id="hiring">
          <%= render partial: 'hiring_form' %>
        </div>
      </div>
    </div>
  </div>
</div>



