<nav>
  <ul>
    <li class="logo">
      <%= image_tag 'indigo-logo.png' %>
    </li>
    <li><a href="#!">ABOUT US</a></li>
    <li><a href="#!">PORTFOLIO</a></li>
    <li><a href="#!">OUR STORY</a></li>
    <li><a href="#!" class="active">CONTACT US</a></li>
  <ul>
</nav>

<div class="banner">
  <div class="banner-img">
    <div class="slogan">
      <h2>Delivering Quality<span>Labour Supply</span></h2>
    </div>
    <div class="row features">
      <div class="small-12 medium-9 small-centered columns">
        <div class="row">
          <div class="small-12 medium-4 columns">
            <div class="icon-placeholder"></div>
            <h4>Fully compliant and <span>vetted workers</span></h4>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="icon-placeholder"></div>
            <h4><span>Industry leading</span> payment solution</h4>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="icon-placeholder"></div>
            <h4>Fully cloud based, <span>no more paperwork</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="under-construction">
  <div class="row">
    <div class="small-12 columns">
      <h4>Our new website is currently under construction...</h4> 
      <p>in the meantime why not register your details with us and a member of our team will be in touch, whether you are looking for work or require a temporary workforce we are here to help.</p>
    </div>
  </div>
</div>

<div class="contact-section">
  <div class="row">
    <div class="small-12 medium-9 small-centered columns">
      <h4>sign up if you'd like to find out more</h4>

      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#working" aria-selected="true">I'm looking for work</a></li>
        <li class="tabs-title"><a href="#hiring">I'm looking to hire</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="working">
          <form>
            <div class="row">
              <div class="medium-2 columns">
                <label>Title:
                  <input type="text" placeholder="Mr/Mrs/Miss">
                </label>
              </div>
              <div class="medium-5 columns">
                <label>First Name:
                  <input type="text" placeholder="John">
                </label>
              </div>
              <div class="medium-5 columns">
                <label>Second Name:
                  <input type="text" placeholder="Smith">
                </label>
              </div>
              <div class="medium-12 columns">
                <label>Address:
                  <input type="text" placeholder="First Line">
                  <input type="text" placeholder="Second Line">
                </label>
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="Town/City">
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="County">
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="Post Code">
              </div>
              <div class="medium-5 columns">
                <label>Contact Number:
                  <input type="number" placeholder="01234 567890">
                </label>
              </div>
              <div class="medium-7 columns">
                <label>Contact Email:
                  <input type="text" placeholder="john.smith@sample.com">
                </label>
              </div>
              <div class="medium-6 columns">
                <label>Current/Most Recent Occupation:
                  <input type="text" placeholder="Labourer">
                </label>
              </div>
              <div class="medium-6 columns">
                <label>Construction Qualifications:
                  <input type="text" placeholder="Qualification 1">
                  <input type="text" placeholder="Qualification 2">
                  <input type="text" placeholder="Qualification 3">
                </label>
              </div>
            </div>
              <div class="small-12 columns text-left">
                <a href="#!" class="button">Sign Up</a>
                <a href="#!">or send an email to us</a>
              </div>

          </form>
        </div>
        <div class="tabs-panel" id="hiring">
          <form>
            <div class="row">
              <div class="medium-2 columns">
                <label>Title:
                  <input type="text" placeholder="Mr/Mrs/Miss">
                </label>
              </div>
              <div class="medium-5 columns">
                <label>First Name:
                  <input type="text" placeholder="John">
                </label>
              </div>
              <div class="medium-5 columns">
                <label>Second Name:
                  <input type="text" placeholder="Smith">
                </label>
              </div>
              <div class="medium-12 columns">
                <label>Address:
                  <input type="text" placeholder="First Line">
                  <input type="text" placeholder="Second Line">
                </label>
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="Town/City">
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="County">
              </div>
              <div class="medium-4 columns">
                <input type="text" placeholder="Post Code">
              </div>
              <div class="medium-5 columns">
                <label>Contact Number:
                  <input type="number" placeholder="01234 567890">
                </label>
              </div>
              <div class="medium-7 columns">
                <label>Contact Email:
                  <input type="text" placeholder="john.smith@sample.com">
                </label>
              </div>
              <div class="medium-6 columns">
                <label>Location of Work:
                  <input type="text" placeholder="Newcastle Upon Tyne">
                </label>
                <div class="small-12 columns">
                <a href="#!" class="button">Sign Up!</a>
                <a href="#!">or send an email to us</a>
              </div>
              </div>
              <div class="medium-6 columns">
                <label>Type of Worker Required:
                  <input type="text" placeholder="Labourer">
                  <input type="text" placeholder="Machine Operator">
                  <input type="text" placeholder="Site Supervisor">
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
