<nav>
  <ul>
    <li class="logo">
      <%= image_tag 'indigo-logo.png' %>
    </li>
    <li><a href="#!">ABOUT US</a></li>
    <li><a href="#!">PORTFOLIO</a></li>
    <li><a href="#!">OUR STORY</a></li>
    <li><a href="#!" class="active">CONTACT US</a></li>
  <ul>
</nav>

<div class="banner">
  <div class="banner-img">
  <div class="slogan">
    <h2>Delivering Quality<span>Labour Supply</span></h2>
  </div>
  <div class="row features">
    <div class="small-12 medium-9 small-centered columns">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <div class="icon-placeholder"></div>
        <h4>Fully compliant and <span>vetted workers</span></h4>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="icon-placeholder"></div>
        <h4><span>Industry leading</span> payment solution</h4>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="icon-placeholder"></div>
        <h4>Fully cloud based, <span>no more paperwork</span></h4>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
