<nav>
  <ul>
    <li class="logo">
      <%= image_tag 'indigo-logo.png' %>
    </li>
    <li><a href="#!">ABOUT US</a></li>
    <li><a href="#!">PORTFOLIO</a></li>
    <li><a href="#!">OUR STORY</a></li>
    <li><a href="#!" class="active">CONTACT US</a></li>
  <ul>
</nav>

<div class="banner">
  <%= image_tag 'indigo-home-image.jpg' %>
  <h2>Delivering Quality<span>Labour Supply</span></h2>
</div>
