/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$white: #fff
$orange: #ecb332
$yellow: #f4a715
$blue: #2280be

$dark-grey: #313131
$blue-grey: #374967
$light-grey: #e0e0e0
$medium-grey: #757575

$nav-text-grey: #343535
$nav-li-active-bg: $orange
$nav-li-active-link-color: $white
$banner-h2-text-color: $white


$facebook-color: #3b5998
$linkedin-color: #007bb5
$google-color: #dd4b39
$twitter-color: #00aced
$youtube-color: #cd201f

.yellow
  background: $yellow

.dark-grey
  background: $blue-grey

body, p, a 
  font-family: 'Lato', sans-serif
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-family: 'Merriweather', serif

video#bgvid
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  background-size: cover

nav 
  width: 100%
  display: block
  text-align: center
  text-transform: uppercase
  padding: 0.5em 1em 0.2em 1em
  list-style: none
  height: 140px
  z-index: 100
  background: none
  position: absolute
  top: 50%
  transform: translateY(-50%)
  transition: 0.3s ease
  li 
    display: inline-block
    text-align: center
    padding: 0
    margin: 0 0.8rem
    height: 140px
    line-height: 140px
  a.active 
    color: $nav-li-active-bg
    padding: 0.2rem 1rem
    border-radius: 10px
  ul 
    padding: 0.3rem 0
    width: 87%
    margin: 0 auto
    text-align: right
  a 
    display: block
    padding: 0.3rem
    color: $light-grey
    font-size: 1.3em
    &:hover
      color: $white
  .logo 
    float: left
  img 
    width: 140px

nav.sticky
  position: fixed
  top: 0
  z-index: 200
  height: 100px
  img
    width: 70px
  li
    height: 100px
    line-height: 70px

.scrolled
  nav.sticky
    background: $white
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    a
      color: $medium-grey
    a.active
      color: $nav-li-active-bg
  .arrow-down
    opacity: 0

  .banner
    h1
      border-top: none

.banner-overlay
  position: absolute
  z-index: 99
  width: 100%
  height: 100%
  background: #000
  opacity: 0.5

.banner 
  width: 100%
  height: 100vh
  overflow: hidden
  background-color: rgba(0,0,0,0.5)
  .slogan
    width: 100%
    position: absolute
    z-index: 100
    top: 75%
    transform: translateY(-50%)
    padding: 5rem 0 3rem 0
  .slogan.scrolled
    top: 50%
    transform: translateY(-50%)
  h1
    color: $light-grey
    font-size: 3em
    text-align: center
    padding-top: 1em
    border-top: 1px solid $light-grey
  .banner-img 
    z-index: 1
    width: 100%
    height: 100%
    background-position: 50% 50%
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
  video
    width: 100%
  h2 
    width: 100%
    text-align: center
    color: $banner-h2-text-color
    font-size: 3rem
    line-height: 3.2rem
    text-transform: uppercase
    font-family: 'Lato', sans-serif
    span 
      display: block
      font-weight: 600
      color: $orange
  .features 
    text-align: center
    color: $white
    img 
      max-width: 100px
    h4 
      font-size: 1.2rem
      span 
        font-weight: 600
        display: block
  .arrow-down
    position: absolute
    width: 100%
    text-align: center
    bottom: 0
    z-index: 100
    color: $white
    font-size: 3em
    transition: 0.4s

.under-construction 
  padding: 2rem 0
  width: 50%
  margin: 0 auto
  img 
    height: 5.5rem
    float: left
  h4 
    font-size: 2.5rem
    color: $dark-grey
    line-height: 2.5rem
  p 
    font-size: 1.4rem
    color: $blue-grey

.sticky-social-icons
  position: fixed
  bottom: 20%
  left: 0
  z-index: 101
  text-align: center
  .linkedin
    background: $linkedin-color
  .facebook 
    background: $facebook-color
  .google 
    background: $google-color
  .twitter 
    background: $twitter-color
  .youtube 
    background: $youtube-color
  a
    transition: 0.5s
    display: block
    text-align: right
    width: 80px
    margin-left: -30px
    padding: 0.2em 0.3em 0.2em 0.6em
    &:hover
      margin-left: 0
    i:before
      margin: 0
      color: #fff
      font-size: 2em

.contact-section 
  background: $blue-grey
  padding: 2rem 1rem
  color: $white
  text-align: center
  h4 
    text-transform: uppercase
    font-weight: 300
    text-align: center
  .tabs 
    background: none
    border: none
    display: inline-block
  .tabs-title 
    text-transform: uppercase
    a 
      border: 2px solid $white
      background: none
      font-size: 1.3rem
      color: $white

    &:first-child a 
      border-radius: 10px 0 0 10px

    &:last-child a 
      border-radius: 0 10px 10px 0

  .is-active a 
    background: $orange
    color: $white
    text-decoration: underline

  .tabs-content 
    background: none
    border: none

  input 
    border-radius: 10px
    margin-bottom: 1.5rem

  label 
    text-align: left
    color: $white
    font-size: 1rem

  .button 
    background: $yellow !important
    border-radius: 10px
    font-family: 'Pacifico', cursive
    font-size: 1.2rem

  a.email-us 
    text-decoration: underline
    background: none
    color: $white

.error 
  input 
    background: #e53935
    border: 1px solid #000
    margin: 0

.home-about
  padding: 3em 1em
  background-color: rgba(255,255,255,0.9)
  .blockquote
    font-family: 'Merriweather', serif
    font-style: italic
    font-weight: 300
    padding: 1em
  h2
    border-top: 10px solid $orange
    color: $dark-grey
    text-align: left
    padding-bottom: 0.5em
    padding-top: 1em
    font-size: 2.7em
  h3
    color: $orange
  p
    color: $medium-grey
    padding: 0
    margin: 0
    font-size: 1em
    text-align: left
  .buttons
    width: 100%
    text-align: center
    text-transform: uppercase
    .button
      border-radius: 3px
      padding: 1em
      width: 60%
      margin: 0 auto
      margin-bottom: 0.5em
      margin-top: 1em
      &:hover
        background: none
        color: black
        border: 2px solid black
    span
      font-weight: 600
    a
      font-size: 1.3em

.home-work
  background-color: rgba(0,0,0,0.5)
  padding: 3em 1em 1em 1em
  .who
    padding-left: 1.2em
    padding-top: 70px
  h2
    color: $light-grey
    font-size: 5em
    border-top: 10px solid $orange
    padding-top: 0.5em
    font-weight: 300
  h3
    color: $light-grey
    font-weight: 300
    font-size: 1.5em
    position: relative
    &:after
      content: ""
      position: absolute
      z-index: 101
      top: 5px
      left: -25px
      border-left: 10px solid $orange
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 0px solid transparent
      height: 0
      width: 0
    i
      color: $orange
  .subheader
    width: 100%
    color: $light-grey
    font-size: 1.2em
  p
    color: $medium-grey

.featured-jobs
  background-color: rgba(0,0,0,0.7)
  padding: 3em 1em
  h2
    color: $orange
    text-align: center
    margin-bottom: 1em

.jobs
  background: none

.job
  background: $white
  height: 300px

footer 
  padding: 1rem
  text-align: center
  background-color: rgba(0,0,0,0.9)
  color: $light-grey
  li 
    display: inline-block
    margin: 0 1rem
    a 
      color: $dark-grey
  .social-icons 
    li 
      padding: 0
      margin: 0 0.2em
    a 
      &:hover 
        i:before 
          transform: rotate(1turn)
  .info
    font-size: 0.8em

    span
      display: block


@media screen and (max-width: 950px)
  .under-construction
    width: 90%

@media screen and (max-width: 822px)
  .contact-section
    .tabs
      li
        a
          font-size: 1.1em

@media screen and (max-width: 728px)
  .contact-section
    .tabs
      li
        a
          font-size: 0.8em

@media screen and (max-width: 639px)
  .banner
    height: auto
    background: $blue-grey
    padding: 2em 0.5em
    h2
      font-size: 1.5em
      line-height: 1.5em
    .banner-img
      background-image: none
    .slogan
      padding: 0 0 0 0.5em
    .features
      img
        max-width: 80px



@media screen and (max-width: 480px)
  .under-construction
    width: 100%
    img
      width: 80px
      height: 80px
      float: none
      display: block
      margin: 0 auto
    h4
      font-size: 1.4em
      line-height: 1.4em
    p
      font-size: 1em

  .contact-section
    .tabs
      li
        display: block
        width: 100%
        &:first-child
          a
            border-radius: 10px 10px 0 0
        &:last-child
          a
            border-radius: 0 0 10px 10px
