.banner
  .overlay
  .bgimage
    = image_tag "about-bg3.jpg"
  .slogan
    %h1
      Behind every
      %br
      %span.bold great business
      %br are
      %span.bold great people.
  .scroll-down scroll down
  %i.material-icons.arrow-down keyboard_arrow_down
  
