.banner
  .banner-img
    .slogan
      %h2 
        Delivering Quality
        %span Labour Supply
    .row.features
      .small-12.medium-9.small-centered.columns
        .row
          .small-12.medium-4.columns
            .icon-placeholder
            %h4 
              Fully compliant and
              %span vetted workers
          .small-12.medium-4.columns
            .icon-placeholder
            %h4
              %span 
                Industry leading
              payment solution
          .small-12.medium-4.columns
            .icon-placeholder
            %h4
              Fully cloud based,
              %span no more paperwork




