.banner
  .video-overlay
  #video-wrap
    = video_tag "banner-video.mp4", :autoplay => true, :loop => true, :id => "banner", :preload => "metadata"
  .slogan
    %h1
      Business Slogan Here
  .buttons
    %a.button.dark-grey{href: "#"}
      I'm a
      %span job seeker
    %a.button.yellow{href: "#"}
      I'm 
      %span hiring
