%footer
  .row
    .small-12.columns
      %ul.social-icons
        %li
          %a{href: "https://google.com"}
            %i.flaticon-twitter
        %li
          %a{href: "https://google.com"}
            %i.flaticon-facebook
        %li
          %a{href: "https://google.com"}
            %i.flaticon-google
        %li
          %a{href: "https://google.com"}
            %i.flaticon-linkedin

  .row
    .small-12.columns
      .small-12.columns.info
        %span Indigo Recruitment Services Ltd
        %span Registered company in England and Wales
        %span Company number 9827979
        %span Registered Office: 79 Bentinck road, Newcastle Upon Tyne, NE4 6UX
        %span Tel: 0191 2267986
        %span Email: info@indigo-recruitment.co.uk
        %span 
          &copy; Indigo Recruitment Services Ltd
          = Time.now.year
