%footer
  .row
    .small-12.columns
      %ul.social-icons
        %li
          %a{href: "https://google.com"}
            %i.flaticon-twitter
        %li
          %a{href: "https://google.com"}
            %i.flaticon-facebook
        %li
          %a{href: "https://google.com"}
            %i.flaticon-google
        %li
          %a{href: "https://google.com"}
            %i.flaticon-linkedin
