%footer
  .footer-info
    .row
      .small-12.medium-4.columns
        .small-12.columns.info
          %h6 Company
          %span Indigo Recruitment Services Ltd
          %span Registered company in England and Wales
          %span Company number 9827979
          %span Registered Office: 79 Bentinck road, Newcastle Upon Tyne, NE4 6UX
          %span Tel: 0191 2267986
          %span Email: info@indigo-recruitment.co.uk
      
      .small-12.medium-4.columns
        .small-12.columns.services
          %h6 Services
          %ul
            %li
              %a{href: "#"} Recruitment
            %li
              %a{href: "#"} Hiring

      .small-12.medium-4.columns
        %h6 Social media
        %ul.social-icons
          %li
            %a{href: "https://google.com"}
              %i.flaticon-twitter
          %li
            %a{href: "https://google.com"}
              %i.flaticon-facebook
          %li
            %a{href: "https://google.com"}
              %i.flaticon-google
          %li
            %a{href: "https://google.com"}
              %i.flaticon-linkedin

  .copyright
    .row
      .small-12.columns
        %span 
          &copy; Copyright
          = Time.now.year
          Indigo Recruitment Services Ltd

