%nav#nav
  %ul
    %li.logo
      = image_tag 'indigo-logo.png'
    %li
      %a.active{href: "#contact"} Home
    %li
      %a{href: "#"} Who we are
    %li
      %a{href: "#"} What we do
    %li
      %a{href: "#"} Get in touch
