%nav
  %ul
    %li.logo
      = image_tag 'indigo-logo.png'
    %li
      %a{href: "#!"} About us
    %li
      %a{href: "#!"} Portfolio
    %li
      %a{href: "#!"} Our story
    %li
      %a.active{href: "#!"} Contact us
