%nav#nav
  %ul
    %li.logo
      = image_tag 'indigo-logo.png'
    %li
      = link_to "Home", root_path, class: "active"
    %li
      %a{href: "#"} Who we are
    %li
      = link_to "What we do", what_we_do_path
    %li
      %a{href: "#"} Get in touch
